In [2]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot
import os
import glob

# Open csv files and concatenate them in one dataframe

Open all the csv files for years 2017 (4 files, one for each quarter) and 2018 (12 files, one for each month) in a dataframe and concatenate them into one dataframe. In order to do so the first line of each csv file (apart from the first one) will have to be removed

In [3]:
# Check current working directory.
retval = os.getcwd()
print("Current working directory %s" % retval)

Current working directory C:\Users\ASUS\Documents\IronHack\Projects\Project-bikesharing-time-series-clustering\project

In [4]:
# Change working directory to the data folder where all the csv files are stored
os.chdir("../data")

In [5]:
# Check current working directory has been changed
import os
retval = os.getcwd()
print("Current working directory %s" % retval)

Current working directory C:\Users\ASUS\Documents\IronHack\Projects\Project-bikesharing-time-series-clustering\data

In [6]:
# Match the pattern (‘csv’) and save the list of file names in the ‘all_filenames’ variable
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [7]:
print(all_filenames)

['2017Q1-capitalbikeshare-tripdata.csv', '2017Q2-capitalbikeshare-tripdata.csv', '2017Q3-capitalbikeshare-tripdata.csv', '2017Q4-capitalbikeshare-tripdata.csv', '201801_capitalbikeshare_tripdata.csv', '201802-capitalbikeshare-tripdata.csv', '201803-capitalbikeshare-tripdata.csv', '201804-capitalbikeshare-tripdata.csv', '201805-capitalbikeshare-tripdata.csv', '201806-capitalbikeshare-tripdata.csv', '201807-capitalbikeshare-tripdata.csv', '201808-capitalbikeshare-tripdata.csv', '201809-capitalbikeshare-tripdata.csv', '201810-capitalbikeshare-tripdata.csv', '201811-capitalbikeshare-tripdata.csv', '201812-capitalbikeshare-tripdata.csv']

In [9]:
# Create raw_data dataframe that will take all the concatenated csv files. Open the first csv file and transform it to a
# dataframe
raw_data = pd.read_csv("2017Q1-capitalbikeshare-tripdata.csv")

In [10]:
# Loop on all files (apart from the first one), and for each loop remove the first row (because it contains the column names we
# already have in raw_data) and concatenate the dataframe to raw_data.
for f in all_filenames[1:]:
    df = pd.read_csv(f)
    df = df.iloc[1:]
    raw_data = pd.concat([raw_data,df])

In [11]:
# Inspect raw_data
raw_data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,221,2017-01-01 00:00:41,2017-01-01 00:04:23,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Member
1,1676,2017-01-01 00:06:53,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual
2,1356,2017-01-01 00:07:10,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual
3,1327,2017-01-01 00:07:22,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual
4,1636,2017-01-01 00:07:36,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual

In [12]:
# Check types of columns
raw_data.dtypes

Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

Ideally the Start and End date should be changed to datetime format. Nevertheless as we will keep the final file in a csv the type of datetime would be changed to object again. So there is no point in doing it now.

In [13]:
# Check if there are null values
raw_data.isnull().sum()

Duration                0
Start date              0
End date                0
Start station number    0
Start station           0
End station number      0
End station             0
Bike number             0
Member type             0
dtype: int64

There is no null values.

In [14]:
# Change the columns names to eliminate the spaces in the names.
trips = raw_data.rename(columns = {"Duration":"duration", "Start date":"start_date", "End date":"end_date", "Start station number":"start_station_number", "Start station":"start_station", "End station number":"end_station_number", "End station":"end_station", "Bike number":"bike_number", "Member type":"member_type"})

In [15]:
# Check trips head
trips.head()

,duration,start_date,end_date,start_station_number,start_station,end_station_number,end_station,bike_number,member_type
0,221,2017-01-01 00:00:41,2017-01-01 00:04:23,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Member
1,1676,2017-01-01 00:06:53,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual
2,1356,2017-01-01 00:07:10,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual
3,1327,2017-01-01 00:07:22,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual
4,1636,2017-01-01 00:07:36,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual

The trips dataframe will now be saved in a csv file so it can be used in the next notebook where we will analyze the data.

In [16]:
# Save the raw_data dataframe in a csv file called raw_data.csv
trips.to_csv("trips.csv")